*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body{
 
  padding: 20px;
  background-image: url("pexels-maxyne-barcel-10402282 1.png");
  background-size: cover;
  background-attachment: fixed;
}

header nav{
  display: flex;
  
}
header nav ul{
  display: flex;
  gap: 20px;
  position: relative;
  left: 500;
  

}
li a{
  color:#f59e07;
  text-decoration: none;
  font-size: 20px;
  font-weight: -100;
  
}
header nav button{
  position:absolute;
  right:40;
 
}
button{
  
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5 15;
  width: fit-content;
  
  
}
button:hover{
  background-color: white;
  color: red;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:200 0;
  
}
main h1{
  color: #e5f507;
  font-size: 50;

}
footer{
  position: absolute;
  right: 4px;
}